<!DOCTYPE HTML>
<html>
<head>
    <title>Title of the document</title>
    <script src="JS/vue.js"></script>
<style>
 .fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>

</head>

<body>
<!--case 1-->
<div id="app">
    {{ message }}
</div>
<!--case 2-->
<!--在元素屬性前面加上v-bind:，屬性內容填上data的名稱，就可以將data綁進屬性中，成功的話會產生一個span標籤-->
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds to see my dynamically bound title!
  </span>
</div>

<!--case 3-->
<!--條件判斷 v-if-->
<div id="app-3">
    <p v-if="seen">Now you see me</p>
</div>


<!--case 4-->
<!--迴圈 v-for-->
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="app-4_1">
    <ol>
        <li v-for="member in members">
            {{ member }}
        </li>
    </ol>
</div>

<!--case 5-->
<!--將物件中的methods綁定到dom事件中，方法和data綁定很類似-->
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<!--case 6-->
<!--雙向綁定的屬性v-model，用在輸入框，當輸入框內容從頁面中變更時，vue裡面相對應的data也會跟著修改-->
<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<!--case 7-->
<div id="app-7">
    <ol>
        <!-- Now we provide each todo-item with the todo object    -->
        <!-- it's representing, so that its content can be dynamic -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
    </ol>
</div>

<!--case 8 -->
<div id="demo">
    <button v-on:click="show = !show">
        Toggle
    </button>
    <transition name="fade">
        <p v-if="show">hello</p>
    </transition>
</div>






<script src="JS/index.js"></script>

</body>

</html>